.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.input-time {
	display: flex;
	gap: 20px;
	margin-bottom: 30px;
}

.input {
	outline: none;
	padding-left: 10px;
}

.input::placeholder {
	text-align: left;
	font-size: 15px;
	color: lightgrey;
	font-weight: bold;
}

.btn {
	padding: 15px 60px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
